#features1 {
  display: flex;
  width: 60vw;
}

#features2 {
  display: flex;
  width: 60vw;
}

#boxA {
  width: 60vw;
  height: 75px;
  background-color: yellow;
}

#boxB {
  width: 60vw;
  height: 150px; 
  background-color: blue;
}

#boxC {
  width: 60vw;
  height: 125px;
  background-color: gray;
}

#boxD {
  width: 60vw;
  height: 125px; 
  background-color: lightsalmon;
}

#boxE {
  width: 30vw;
  height: 250px; 
  background-color: green;
}

#boxF {
  width: 30vw;
  height: 250px; 
  background-color: orange;
}

#boxG {
  width: 30vw;
  height: 250px; 
  background-color: orchid;
}

#boxH {
  width: 30vw;
  height: 250px; 
  background-color: red;
}

#boxI {
  width: 60vw;
  height: 80px; 
  background-color: sandybrown;
}

@media (min-width: 768px) {
  #bulkContainer {
    display: flex;
    flex-wrap: nowrap;
  }
  
  #contentContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
  }

  #highlights {
    display: flex;
    width: 70vw;
  }

  #features1 {
    display: flex;
    width: 35vw;
  }

  #features2 {
    display: flex;
    width: 35vw;
  }
  
  #boxA {
    width: 90vw;
    height: 100px;
    background-color: brown;
  }
  
  #boxB {
    width: 20vw;
    height: 600px;
    background-color: hotpink;
  }
  
  #boxC {
    width: 35vw;
    height: 200px;
    background-color: peru;
  }
  
  #boxD {
    width: 35vw;
    height: 200px; 
    background-color: seagreen;
  }
  
  #boxE {
    width: 17.5vw;
    height: 250px;
    background-color: silver;
  }
  
  #boxF {
    width: 17.5vw;
    height: 250px;
    background-color: purple;
  }
  
  #boxG {
    width: 17.5vw;
    height: 250px;
    background-color: burlywood;
  }
  
  #boxH {
    width: 17.5vw;
    height: 250px;
    background-color: goldenrod;
  }
  
  #boxI {
    width: 70vw;
    height: 150px;
    background-color: teal;
  }
}

@media (min-width: 1280px) {
  #boxA {
    background-color: palevioletred;
  }
  
  #boxB {
    background-color: lightgreen;
  }
  
  #boxC {
    background-color: crimson;
  }
  
  #boxD {
    background-color: maroon;
  }
  
  #boxE {
    background-color: gold;
  }
  
  #boxF {
    background-color: gainsboro;
  }
  
  #boxG {
    background-color: coral;
  }
  
  #boxH {
    background-color: violet;
  }
  
  #boxI {
    background-color: indigo;
  }
}
